# ===== Python =====
pycache/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*
*.log

# ===== Node / Frontend =====
node_modules/
dist/
.vite/

# ===== OS / Editor =====
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===== Docker =====
*.tar

# ===== TEMP =====
*.tmp
*.swp

# ===== Local DB =====
data/luckbuddy.db
luckbuddy.db
